/* Variables de color */
:root {
  --color-primario: #10015d;
  --color-secundario: #351ebf;
  --color-terciario: #848484;
  --color-naranja : #e26b1b;
  --color-azul: #0f034a;
  --color-fondo: #47717d;
  --color-texto: #000000;
  --color-blanco:#fff;
  --color-mostaza : #c69023;
  
  --fs-300:1rem ;
  --fs-400:1.1125rem ;
  --fs-500 : 1.325rem;
  --fs-600 :1.625rem ;
  --fs-700 :2rem ;
  --fs-800 :2.325rem ;
  --fs-900 :3rem ;
}
/* Estilos básicos */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: auto;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: var(--color-texto);
  line-height: 1.6;
}
h1, h2, h3 {
  margin-bottom: 0.5em;
}

/* Enlaces */
a {
  color: var(--color-primario);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

 
/* Botones */



/* Estilos para el botón */
.boton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: var(--color-secundario);
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
text-decoration: none;
}

/* Efecto hover */
.boton:hover {
  background-color: var(--color-mostaza);
  color: var(--color-blanco);
  text-decoration: none;
}


.btn {
  padding: 10px 20px;
  background-color: var(--color-secundario);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: var(--color-mostaza);
}

.textWrapper2 {
  display: inline-block;
  background:var(--color-secundario);
  margin-left: 13rem;
  width:50% ;
  height: 3px;  
}
img {
  display: block;
  max-width: 100%;
}

/* Contenedores */
.container {
  width: 100%;
  height: auto;
}

/* Ejemplo de una clase de utilidad */
.text-center {
  text-align: center;
}

/*navbar */
.navbar {
  transition: background-color 0.5s;
 
}

.navbar.scrolled { 
  background-color: var(--color-primario); 
 
 }

.navbar-brand {
  width: 50%;
  margin: 0 auto;
  font-weight: bold;
  transition: all 0.3s ease-in;
  color:var(--color-primario);
}

.navbar:hover {
 color: #000;
 transition: all 0.3 ease-in;
 color: var(--color-mostaza);
}

.navbar-nav a {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  color: var(--color-blanco);
  
}

.navbar a:hover {
  color: var(--color-mostaza);
  transition: all 0.3 ease-in;
 }


.nav-link {
  font-size: 15px;
  position: relative;
  transition: all 0.3s ease-in;
  color: #000;
}


/* Media Queries */
@media (max-width: 767px) {
  .navbar-nav {
      flex-direction: column;
      width: 100%;
      text-align: center;
  }
  
  .navbar-nav a {
      font-size: 18px;
      margin: 0.5em 0;
  }
  
  .navbar-brand {
      width: 100%;
      text-align: center;
      margin: 0;
  }
  
  .navbar-toggler {
      margin-left: auto;
  }
  
  .navbar-collapse {
      background-color: var(--color-primario);
      border-top: 1px solid #e5e5e5;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-nav a {
      font-size: 18px;
      margin: 0 1em;
  }
  
  .navbar-brand {
      margin: 0 2em;
  }
}

@media (min-width: 992px) {
  .navbar-nav a {
      font-size: 20px;
      margin: 0 1.5em;
  }
  
  .navbar-brand {
      margin: 0 4em;
  }
}

.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  animation: slideUp 2s ease-out;
}

.overlay h3 {
  font-size: 3.5rem;
  margin-bottom: 10px;
  background: rgba(2, 2, 121, 0.5);
  animation-delay: 1s;
}

.overlay p {
  font-size: 2rem;
  margin-bottom: 20px;
  background: rgba(2, 2, 121, 0.5);
  animation-delay: 1.5s;
}

.overlay .btn {
  font-size: 1rem;
  padding: 10px 20px;
  animation-delay: 2s;
}

/* Diseño para pantallas grandes */
@media (min-width: 1024px) {
  .video-large {
    display: block;
  }
  .video-small {
    display: none;
  }

  .overlay h3 {
    font-size: 4rem;
  }

  .overlay p {
    font-size: 2.5rem;
  }

  .overlay .btn {
    font-size: 1.2rem;
  }
}

/* Diseño para pantallas medianas */
@media (min-width: 768px) and (max-width: 1023px) {
  .video-large {
    display: none;
  }
  .video-small {
    display: block;
  }

  .overlay h3 {
    font-size: 3rem;
  }

  .overlay p {
    font-size: 2rem;
  }

  .overlay .btn {
    font-size: 1rem;
  }
}

/* Diseño para pantallas pequeñas */
@media (max-width: 767px) {
  .video-large {
    display: none;
  }
  .video-small {
    display: block;
  }

  .overlay h3 {
    font-size: 3rem;
  }

  .overlay p {
    font-size: 2rem;
  }

  .overlay .btn {
    font-size: 0.9rem;
  }
}

/* Esconde ambos videos por defecto */
.video-large, .video-small {
  display: none;
}

@media (min-width: 768px) {
  .video-large {
      display: block; /* Muestra el video grande en pantallas grandes */
  }
}
@media (max-width: 767px) {
  .video-small {
      display: block; /* Muestra el video pequeño en pantallas pequeñas */
  height: 40vh;
    }
}
/*animation*/
   .overlay h3, .overlay p, .overlay .btn { 
      opacity: 0; 
      animation: fadeIn 2s forwards; } 


@keyframes slideUp { from { transform: translateY(100%); } to 
{ transform: translateY(0); } } 
@keyframes fadeIn { to { opacity: 1; } }

/*whatsaap*/

.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #25D366;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.whatsapp-button:hover {
  background-color: #1DA851;
}
.whatsapp-icon {
  font-size: 30px;
  color: white;
  vertical-align: middle;
}

.banner { display: flex; justify-content: center; 
  align-items: center; height: 70vh; background: url('./IMG/banner_.png') no-repeat center center/cover; 
  color: white; text-align: center; padding: 20px; } .banner-content { max-width: 600px; } 
  
  
  .btn-banner { padding: 10px 20px; font-size: 1rem; color: white; 
    background-color: #28a745; border: none; cursor: pointer; transition: background-color 0.3s; } 
    .btn-banner:hover { background-color: #218838; } 
    
    /* Media Queries */ @media (max-width: 1200px) { .banner h1 { font-size: 2.5rem; } 
    .banner p { font-size: 1rem; } 
    .btn-banner { font-size: 0.9rem; } }
     @media (max-width: 992px) { 
      .banner h1 { font-size: 2rem; } 
      .banner p { font-size: 0.9rem; } 
      .btn-banner { font-size: 0.8rem; } } @media (max-width: 768px) { 
        .banner h1 { font-size: 1.5rem; } .banner p { font-size: 0.8rem; } 
        .btn-banner { font-size: 0.7rem; } } @media (max-width: 576px) { 
          .banner h1 { font-size: 1.2rem; } .banner p { font-size: 0.7rem; } 
          .btn-banner { font-size: 0.6rem; } }




/* portada  */

.hero-section {
  display: flex;
  align-items: center;
  min-height: 85vh;
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
  background: url("IMG/fondo-portada.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-section .hero {
max-width: 1000px;
 text-align: center;
 margin: 0 auto;
 color: var(--color-texto); 
}

.hero h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1em;
}

.hero p {
  font-size: 1.8em;
  margin: 0 auto;
  padding-right: 80px;
  padding-bottom: 80px;
  color: #000;
  font-weight: 500;
}

.portada-imagen {
  display: none; /* Esconde ambas imágenes por defecto */
}

.portada-imagen img {
  margin-bottom: 3em;
  margin-left: 80px;
  width: 60%;
  max-width: 800px;
  border-radius: 50% 20% / 10% 40%;
}


@media (min-width: 768px) {
  .portada-imagen.desktop {
    display: block;
  }
}

@media (max-width: 767px) {
  .portada-imagen.mobile {
    display: block;
    padding-right: 5em;
  }

  .mobile img {
    width: 100%;
    max-width: 400px;
  }

  .hero-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 2em;
  }

  .hero p {
    margin: 0;
    text-align: center;
    font-size: 1.1em;
    width: 100%;
  }
}



/* Servicios  */
.card-deck {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  flex: 1 1 calc(25% - 20px);
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.card img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-title {
  text-align: center;
  font-weight: bold;
}

.card-text {
  text-align: justify;
}
.tarjeta-cuerpo {
  background: var(--color-azul);
}

.tarjeta-texto {
  font-size: 1.2em;
  font-weight: 400;
  min-height: 3vh;
  text-align: justify;
  color: var(--color-blanco);
}

/* Media Queries */
@media (max-width: 1200px) {
  .card {
    flex: 1 1 calc(33.33% - 20px);
  }
}

@media (max-width: 992px) {
  .card {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .card {
    flex: 1 1 100%;
  }
}

.servicios  {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.servicios-texto {
  margin: 0  10% 0 20%;
  padding: 10px;
  text-align: justify;
  font-size: 22px;
   color: #fff; 
}
.cuadricula {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr ;
}

.box1 {
background-color:var(--color-azul) ;

}
.box2 {
  background-color: var(--color-mostaza);  
}
.box3 {
  background-color: var(--color-naranja); 
}
.box4 {
  background-color:var(--color-terciario) ; 
}
.box5 {
  background-color: var(--color-fondo);  
}
.box6 {
  background-color:var(--color-azul) ;  
}

.icon-box {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  padding: 2.8em;
  border-radius: 2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in;
}



.icon-box img {
  height: 10vh;
  margin-bottom: 10px;
}

.icon-box p {
  margin: 0 auto;
  padding: 1em;
  text-align: center;
  align-items: center;
  margin: 0;
  font-size: 1.3vw;
  color: #fff;
}

.icon-box h3 {
  margin: 0 auto;
  padding: 1em;
  text-align: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
}


.icon-box:hover {
background: #000;  
transition: all 0.5s ease-in;
}


@media (max-width: 1200px) {
  .servicios {
    height: auto;
  }
  
}

@media (max-width: 992px) {
  .servicios {
    height: auto;
  }

  .cuadricula {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
  gap: 5px;
  } 
}

@media (max-width: 768px) {
  .servicios {
    height: auto;
  }
  .cuadricula {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
  gap: 5px;
  } 
}

@media (max-width: 576px) {
  .servicios {
    height: 50%;
    width: 100%;
    margin: 0 auto;
  }
  .cuadricula {
    display: grid;
    margin: 0 auto;
    padding: 1em;
    grid-template-columns: 1fr  ;
    grid-template-rows: 1fr  ;
  gap: 1em;
  }

  .icon-box h3 {
    margin: 0 ;
    font-size: 1.4em;
    padding: 0.5em;
    text-align: center;
align-items: center;
  }
  .icon-box p {
    padding: 1em;
    font-size: 1.1em;
  }

}

 
/* Contacto  */

 .formulario {
height: 80vh;
  width: auto;
  padding-top:50px;
  padding-left: 28%;
align-items: center;
background: var(--color-fondo);
}


 .wrapper{
  width: 70%;
  border-radius: 8px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.05);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
 }
  
.wrapper header{
  font-size: 22px;
  font-weight: 600;
  padding: 20px 30px;
  border-bottom: 1px solid #ccc;
  color: white;
}
.wrapper form{
  margin: 35px 30px;
}
.wrapper form.disabled{
  pointer-events: none;
  opacity: 0.7;
}
form .dbl-field{
  display: flex;
  margin-bottom: 25px;
  justify-content: space-between;
}
.dbl-field .field{
  height: 50px;
  display: flex;
  position: relative;
  width: calc(100% / 2 - 13px);
}
.wrapper form i{
  position: absolute;
  top: 50%;
  left: 18px;
  color: #ccc;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
}
form .field input,
form .message textarea{
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 18px 0 48px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.field input::placeholder,
.message textarea::placeholder{
  color: #ccc;
}
.field input:focus,
.message textarea:focus{
  padding-left: 47px;
  border: rgb(45, 128, 112);
}
.field input:focus ~ i,
.message textarea:focus ~ i{
  color: rgb(45, 128, 112);
}
form .message{
  position: relative;
}
form .message i{
  top: 30px;
  font-size: 20px;
}
form .message textarea{
  min-height: 130px;
  max-height: 230px;
  max-width: 100%;
  min-width: 100%;
  padding: 15px 20px 0 48px;
}
form .message textarea::-webkit-scrollbar{
  width: 0px;
}
.message textarea:focus{
  padding-top: 14px;
}
form .button-area{
  margin: 25px 0;
  display: flex;
  align-items: center;
}
.button-area button{
  color: #fff;
  border: none;
  outline: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  padding: 13px 25px;
  background: rgb(45, 128, 112);
  transition: all 0.3s ease;
}
.button-area button:hover{
  background: rgb(45, 128, 112);
}
.button-area span{
  font-size: 17px;
  margin-left: 30px;
  display: none;
}
@media (max-width: 600px){
  .wrapper header{
    text-align: center;
  }
  .wrapper form{
    margin: 35px 20px;
  }
  form .dbl-field{
    flex-direction: column;
    margin-bottom: 0px;
  }
  form .dbl-field .field{
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
  }
  form .message textarea{
    resize: none;
  }
  form .button-area{
    margin-top: 20px;
    flex-direction: column;
  }
  .button-area button{
    width: 100%;
    padding: 11px 0;
    font-size: 16px;
  }
  .button-area span{
    margin: 20px 0 0;
    text-align: center;
  }
}
@media screen and (max-width: 580px) {
  .formulario {
    margin: 0;
    height: 80vh;
      width: 100%;
    }
}
@media screen and (max-width: 500px) {
  .wrapper{
    width: 100%;
    
   }
}
/* info de atención  */
.informacion {
  display: flex;
 margin-top: 2%  ;
 margin-bottom: 2% ;
 margin-left: 5%  ;
 padding: 3%;
  justify-content: space-around;
  align-items: flex-start;
  width: 90%;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.informacion .certificado, .informacion .barra, .informacion .analisis, .informacion .grupo, .informacion .maleta {
  text-align: center;
  width: 18%;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.informacion .certificado:hover, .informacion .barra:hover, .informacion .analisis:hover, .informacion .grupo:hover, .informacion .maleta:hover {
  background-color: #e0e0e0;
}

.informacion span {
  font-size: 40px;
  color: var(--color-mostaza); /* Color azul para los iconos */
  margin-bottom: 10px;
  display: block;
}

.informacion h1 {
  text-transform:uppercase;
  color: var(--color-mostaza);
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 10px;
}

.informacion p {
  color: var(--color-texto);
  font-size: 15px;
  font-weight: 500;
}

/* Media queries */

/* Para pantallas de tabletas y dispositivos más pequeños */
@media (max-width: 768px) {
  .informacion {
    flex-direction: column;
    align-items: center;
  }

  .informacion .certificado, .informacion .barra, .informacion .analisis, .informacion .grupo, .informacion .maleta {
    width: 80%;
    margin-bottom: 20px;
  }
}

/* Para pantallas de teléfonos móviles */
@media (max-width: 480px) {
  .informacion {
    padding: 5%;
  }

  .informacion .certificado, .informacion .barra, .informacion .analisis, .informacion .grupo, .informacion .maleta {
    width: 100%;
    padding: 15px;
  }

  .informacion span {
    font-size: 30px;
  }

  .informacion h1 {
    font-size: 16px;
  }

  .informacion p {
    font-size: 14px;
  }
}
/* conocenos  */
.seccion {
  height: 100vh;
  background-image: url("./IMG/Portada.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.seccion .contenido2 {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  color: #fff;
}
.seccion .contenido2 h2 {
  font-size: 3rem;
  max-width: 600px;
  line-height: 70px;
}
.seccion .contenido2 p {
  font-weight: 300;
  max-width: 600px;
  margin-top: 15px;
}
.seccion .contenido2 button {
  background: #fff;
  padding: 12px 30px;
  border: none;
  font-size: 1rem;
  border-radius: 6px;
  margin-top: 38px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}
.seccion .contenido2 button:hover {
  color: #fff;
  background: #C06B3E;
}


@media (max-width: 768px) {
  
  .seccion .contenido2 {
    text-align: center;
  }
  .seccion .contenido2 :is(h2, p) {
    max-width: 100%;
  }
  .seccion .contenido2 h2 {
    font-size: 2.3rem;
    line-height: 60px;
  }
  
  .seccion .contenido2 button {
    padding: 9px 18px;
  }
}






/* vision  */


.objetivos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease-in-out;
}

.text, .image {
  flex: 1;
  padding: 20px;
}

.image img {
  max-width: 100%;
  height: auto;
}

/* Responsivo para pantallas pequeñas */
@media (max-width: 768px) {
  .objetivos {
      flex-direction: column-reverse;
      text-align: center;
  }
  
  .image {
      text-align: center;
  }
}

.objetivos.visible {
  opacity: 1;
  transform: translateY(0);
}
/*  portada servicios  */

.portada-servicios {
  height: 100vh;
  background-image: url("IMG/Portada-servicios.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  color: var();
}
/* contador  */
.counter-up{
  background: url("images/bg-2.jpeg") no-repeat;
  min-height: 50vh;
  background-size: cover;
  background-attachment: fixed;
  padding: 0 50px;
  position: relative;
  display: flex;
  align-items: center;
}
.counter-up::before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--color-primario);
}
.counter-up .content{
  z-index: 1;
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.counter-up .content .box{
  border: 1px dashed rgba(255,255,255,0.6);
  width: calc(25% - 30px);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 20px;
}
.content .box .icon{
  font-size: 48px;
  color: #e6e6e6;
}
.content .box .counter{
  font-size: 50px;
  font-weight: 500;
  color: #f2f2f2;
  font-family: sans-serif;
}
.content .box .text{
  font-weight: 400;
  color: #ccc;
}
@media screen and (max-width: 1036px) {
  .counter-up{
    padding: 50px 50px 0 50px;
  }
  .counter-up .content .box{
    width: calc(50% - 30px);
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 580px) {
  .counter-up .content .box{
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .wrapper{
    padding: 20px;
  }
  .counter-up{
    padding: 30px 20px 0 20px;
  }
}
/* portada conocenos  */
.portada-conocenos {
  height: 100vh;
  width: 100%;
  background-image: url("IMG/portada-conocenos.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 0 auto;
}
/* logo servicios */
/* Estilos generales */
.logo-servicios {
  width: 100%;
  padding: 20px;
  border: 1px solid #ddd;
  margin: 20px 0;
  text-align: center;
}

.logo-servicios h3 {
  font-size: 2.2em;
  margin-bottom: 10px;
}

.logo-servicios p {
  font-size: 1.3em;
  font-size: 500;
  line-height: 1.5;
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container img {
  max-width: 80%;
  height: auto;
}

/* Media Queries para dispositivos móviles */
@media (max-width: 600px) {
  .logo-servicios {
    padding: 10px;
  }
  
  .logo-servicios h3 {
    font-size: 20px;
  }
  
  .logo-servicios p {
    font-size: 14px;
  }

  .grid-container {
    flex-direction: column;
  }

  .grid-container img {
    max-width: 100%;
  }
}



/* footer  */
footer{
  position: relative;
  bottom: 0px;
  width: 100%;
  background: var(--color-azul);
}
.main-content{
  display: flex;
}
.main-content .caja{
  flex-basis: 50%;
  padding: 10px 20px;
}
.caja h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-mostaza);
}
.caja .contenido{
  margin: 20px 0 0 0;
  position: relative;
}
.caja .contenido:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: var(--color-mostaza);
}
.caja .contenido:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: var(--color-mostaza);
  top: -10px;
}
.izquierda .contenido p {
  text-align: justify;
  color: var(--color-blanco);
}
.izquierda .contenido .social{
  margin: 20px 0 0 0;
}
.izquierda .contenido .social a {
  padding: 0 2px;
}
.izquierda .contenido .social a span { 
  height: 40px;
  width: 40px;
  background: var(--color-blanco);
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.izquierda .contenido .social a span:hover{
  background: var(--color-mostaza);
}
.center .contenido .fas{
  font-size: 1.4375rem;
  background: var(--color-blanco);
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .contenido .fas:hover{
  background: var(--color-mostaza);
}
.center .contenido .texto-f {
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
  color: var(--color-blanco); 
}
.center .contenido .phone{
  margin: 15px 0;
}
.derecha form .texto-f{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: var(--color-blanco);
}
.derecha form .msg{
  margin-top: 10px;
}
.derecha form input, .derecha form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background: var(--color-blanco);
  padding-left: 10px;
  border: 1px solid var(--color-blanco);
}
.derecha form input:focus,
.derecha form textarea:focus{
  outline-color: #3498db;
}
.derecha form input{
  height: 35px;
}
.derecha form .btn{
  margin-top: 10px;
}
.derecha form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: var(--color-secundario);
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
  color: var(--color-blanco);
}
.derecha form .btn button:hover{
  background: #000;
}
.leyenda .center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
  text-align: center;
}
.leyenda .center span{
  color: #656565;
 
}
.leyenda .center a{
  color: var(--color-mostaza);
  text-decoration: none;

}
.leyenda .center a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .caja{
    margin: 5px 0;
  }
}

/* Estilos generales */
/* Estilos generales */
.seccion-servicios {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 1.2em;
  padding-bottom: 1em;
  background: url("IMG/fondo-portada.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.servicios-texto2, .servicios-texto3 {
  margin: 10px;
  text-align: center;
  color: var(--color-blanco);
}

.servicios-texto2 h2, .servicios-texto3 h2 {
  font-size: 2em;
  color: var(--color-azul);
}

.servicios-texto2 p {
  font-size: 1em;
  color: var(--color-blanco);
  font-weight: 500;
}

.imagen-servicios img {
  max-width: 100%;
  height: auto;
  border-radius: 50% 20% / 10% 40%;
}

/* Media Queries para dispositivos móviles */
@media (max-width: 767px) {
  .seccion-servicios {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .servicios-texto2, .servicios-texto3 {
    margin: 10px 0;
    width: 100%;
  }

  .servicios-texto2 h2, .servicios-texto3 h2 {
    font-size: 1.5em;
  }

  .imagen-servicios img {
    margin: 0;
    width: 100%;
  }
}

.listado ul {
  list-style-type: disc;
  padding: 0;
}

.listado ul li {
  background-color: var(--color-azul);
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
  font-size: 1.5em;
  color: var(--color-blanco);
  font-weight: 500;
}



