/* Variables de color */
:root {
  --color-primario: #10015d;
  --color-secundario: #351ebf;
  --color-terciario: #848484;
  --color-naranja : #e26b1b;
  --color-azul: #0f034a;
  --color-fondo: #47717d;
  --color-texto: #000000;
  --color-blanco:#fff;
  --color-mostaza : #c69023;
}

/* Estilos básicos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: var(--color-texto);
  line-height: 1.6;
  margin: 0;
}

h1, h2, h3 {
  margin-bottom: 0.5em;
}

p {
  margin-bottom: 1em;
}

/* Enlaces */
a {
  color: var(--color-primario);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Botones */
.btn {
  padding: 10px 20px;
  background-color: var(--color-secundario);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: var();
}

.textWrapper2 {
  display: inline-block;
  background:var(--color-secundario);
  margin-left: 13rem;
  width:50% ;
  height: 3px;  
}

/* Contenedores */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  
}

/* Ejemplo de una clase de utilidad */
.text-center {
  text-align: center;
}

/*navbar */
.navbar {
  background-color: transparent; 
  transition: background-color 0.5s;
}

.navbar.scrolled { 
  background-color: var(--color-primario); 
 }

.navbar-brand {
  width: 50%;
  margin: 0 auto;
  font-weight: bold;
  transition: all 0.3 ease-in;
}

.navbar-brand:hover {
 color: #000;
 transition: all 0.3 ease-in;
}

.navbar-nav a {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;

}

.nav-link {
  font-size: 15px;
  position: relative;
  transition: all 0.3s ease-in;
  color: #000;
}


.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  animation: slideUp 2s ease-out;
}

.overlay h3 {
  font-size: 3.5rem;
  margin-bottom: 10px;
  background: rgba(2, 2, 121, 0.5);
  animation-delay: 1s;
}

.overlay p {
  font-size: 2rem;
  margin-bottom: 20px;
  background: rgba(2, 2, 121, 0.5);
  animation-delay: 1.5s;
}

.overlay .btn {
  font-size: 1rem;
  padding: 10px 20px;
  animation-delay: 2s;
}



/*navbar */
.navbar {
  background-color: transparent; 
  transition: background-color 0.5s;
}

.navbar.scrolled { 
  background-color: var(--color-primario); 
}

.navbar-brand {
  width: 50%;
  margin: 0 auto;
  font-weight: bold;
  transition: all 0.3s ease-in;
}

.navbar-brand:hover {
  color: #000;
  transition: all 0.3 ease-in;
}

.navbar-nav a {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
}

.nav-link {
  font-size: 15px;
  position: relative;
  transition: all 0.3s ease-in;
  color: #000;
}

/* Media Queries */
@media (max-width: 767px) {
  .navbar-nav {
      flex-direction: column;
      width: 100%;
      text-align: center;
  }
  
  .navbar-nav a {
      font-size: 18px;
      margin: 0.5em 0;
  }
  
  .navbar-brand {
      width: 100%;
      text-align: center;
      margin: 0;
  }
  
  .navbar-toggler {
      margin-left: auto;
  }
  
  .navbar-collapse {
      background-color: var(--color-primario);
      border-top: 1px solid #e5e5e5;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-nav a {
      font-size: 18px;
      margin: 0 1em;
  }
  
  .navbar-brand {
      margin: 0 2em;
  }
}

@media (min-width: 992px) {
  .navbar-nav a {
      font-size: 20px;
      margin: 0 1.5em;
  }
  
  .navbar-brand {
      margin: 0 4em;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  animation: slideUp 2s ease-out;
}

.overlay h3 {
  font-size: 3.5rem;
  margin-bottom: 10px;
  background: rgba(2, 2, 121, 0.5);
  animation-delay: 1s;
}

.overlay p {
  font-size: 2rem;
  margin-bottom: 20px;
  background: rgba(2, 2, 121, 0.5);
  animation-delay: 1.5s;
}

.overlay .btn {
  font-size: 1rem;
  padding: 10px 20px;
  animation-delay: 2s;
}

/* Media Queries */
@media (max-width: 767px) {
  .overlay h3 {
      font-size: 2rem; /* Ajustar tamaño de fuente para pantallas pequeñas */
  }

  .overlay p {
      font-size: 1.2rem; /* Ajustar tamaño de fuente para pantallas pequeñas */
  }

  .overlay .btn {
      font-size: 0.8rem; /* Ajustar tamaño de botón para pantallas pequeñas */
      padding: 8px 16px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .overlay h3 {
      font-size: 3rem; /* Ajustar tamaño de fuente para pantallas medianas */
  }

  .overlay p {
      font-size: 1.5rem; /* Ajustar tamaño de fuente para pantallas medianas */
  }

  .overlay .btn {
      font-size: 0.9rem; /* Ajustar tamaño de botón para pantallas medianas */
      padding: 9px 18px;
  }
}

@media (min-width: 992px) {
  .overlay h3 {
      font-size: 3.5rem; /* Tamaño de fuente para pantallas grandes */
  }

  .overlay p {
      font-size: 2rem; /* Tamaño de fuente para pantallas grandes */
  }

  .overlay .btn {
      font-size: 1rem; /* Tamaño de botón para pantallas grandes */
      padding: 10px 20px;
  }
}







/* Esconde ambos videos por defecto */


.video-large, .video-small {
  display: none;
}

@media (min-width: 768px) {
  .video-large {
      display: block; /* Muestra el video grande en pantallas grandes */
  }
}

@media (max-width: 767px) {
  .video-small {
      display: block; /* Muestra el video pequeño en pantallas pequeñas */
  }
}







/*animation*/

   .overlay h3, .overlay p, .overlay .btn { 
      opacity: 0; 
      animation: fadeIn 2s forwards; } 


@keyframes slideUp { from { transform: translateY(100%); } to 
{ transform: translateY(0); } } 
@keyframes fadeIn { to { opacity: 1; } }







.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #25D366;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.whatsapp-button:hover {
  background-color: #1DA851;
}

.whatsapp-icon {
  font-size: 30px;
  color: white;
  vertical-align: middle;
}





.banner { display: flex; justify-content: center; 
  align-items: center; height: 70vh; background: url('./IMG/banner_.png') no-repeat center center/cover; 
  color: white; text-align: center; padding: 20px; } .banner-content { max-width: 600px; } 
  
  
  
  .btn-banner { padding: 10px 20px; font-size: 1rem; color: white; 
    background-color: #28a745; border: none; cursor: pointer; transition: background-color 0.3s; } 
    .btn-banner:hover { background-color: #218838; } 
    
    /* Media Queries */ @media (max-width: 1200px) { .banner h1 { font-size: 2.5rem; } 
    .banner p { font-size: 1rem; } 
    .btn-banner { font-size: 0.9rem; } }
     @media (max-width: 992px) { 
      .banner h1 { font-size: 2rem; } 
      .banner p { font-size: 0.9rem; } 
      .btn-banner { font-size: 0.8rem; } } @media (max-width: 768px) { 
        .banner h1 { font-size: 1.5rem; } .banner p { font-size: 0.8rem; } 
        .btn-banner { font-size: 0.7rem; } } @media (max-width: 576px) { 
          .banner h1 { font-size: 1.2rem; } .banner p { font-size: 0.7rem; } 
          .btn-banner { font-size: 0.6rem; } }




/* portada  */

.hero-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 60vh;
  width: 100%;
  padding-top: 3em;
  padding-bottom: 3em;
  background: url("IMG/fondo-portada.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-section .hero {
  justify-content: flex-end;
  text-align: justify;
  margin-left: 8em;
  margin-right: 8em;
  color: #000;
}

.hero h2 {
  text-align: center;
  font-size: 2.5rem;
}

.hero p {
  font-size: 1.5em;
  margin-left: 10em;
  color: #000;
  font-weight: 500;
}

.portada-imagen {
  display: none; /* Esconde ambas imágenes por defecto */
}

.portada-imagen img {
  margin-bottom: 1em;
  margin-left: 4em;
  width: 110%;
  border-radius: 50% 20% / 10% 40%;
}

@media (min-width: 768px) {
  .portada-imagen.desktop {
      display: block; /* Muestra la imagen de escritorio en pantallas grandes */
  }
}

@media (max-width: 767px) {
  .portada-imagen.mobile {
      display: block; /* Muestra la imagen para móviles en pantallas pequeñas */
  }
  .mobile img {
    width: 50%;
  }

  .hero-section {
      flex-direction: column; /* Ajusta la flexbox para pantallas pequeñas */
      align-items: center;
      text-align: center;
    width: 100%;
    }

  .hero p {
    font-size: 1em;
    margin:2em ; /* Ajusta el margen para pantallas pequeñas */
   padding: 5em ;
   
    }
}


/* Servicios  */

.servicios  {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;

}

.servicios-texto {
  margin: 0  100px 0 200px;
  padding: 10px;
  text-align: justify;
  font-size: 22px;
   color: #fff; 
}

.cuadricula {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}


.box1 {
background-color:var(--color-azul) ;

}
.box2 {
  background-color: var(--color-mostaza);  
}
.box3 {
  background-color: var(--color-naranja); 
}
.box4 {
  background-color:var(--color-terciario) ; 
}
.box5 {
  background-color: var(--color-fondo);  
}
.box6 {
  background-color:var(--color-azul) ;  
}



.icon-box {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  padding: 2.8em;
  border-radius: px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in;
}



.icon-box img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.icon-box p {
  margin: 0 auto;
  padding: 1em;
  text-align: center;
  align-items: center;
  margin: 0;
  font-size: 1.3vw;
  color: #fff;
}

.icon-box h3 {
  margin: 0 auto;
  padding: 1 em;
  text-align: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
}


.icon-box:hover {
background: #000;  
transition: all 0.5s ease-in;
}


@media (max-width: 1200px) {
  .servicios {
    height: auto;
  }
  .cuadricula {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
  gap: 5px;
  } 
}

@media (max-width: 992px) {
  .servicios {
    height: auto;
  }

  .cuadricula {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
  gap: 5px;
  } 
}

@media (max-width: 768px) {
  .servicios {
    height: auto;
  }
  .cuadricula {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
  gap: 5px;
  } 
}

@media (max-width: 576px) {
  .servicios {
    height: 50%;
    width: 100%;
    margin: 0 auto;
  }
  .cuadricula {
    display: grid;
    margin: 0 auto;
    padding: 1em;
    grid-template-columns: 1fr  ;
    grid-template-rows: 1fr  ;
  gap: 1em;
  }

  .icon-box h3 {
    margin: 0 auto;
    padding: 1em;
    text-align: center;
align-items: center;
  }
  .icon-box p {
    
  }

}


 .frase-servicios {
  height: 10vh;
  width: auto;
  text-align: center;
 }

 .frase-servicios h2 {
font-size: 20px;
font-weight: 400;
font-style: italic;
}

/* contador */

.counter-up{
   background: url("") no-repeat;
   min-height: 35vh;
   background-size: cover;
   background-attachment: fixed;
   padding: 0 50px;
   position: relative;
   display: flex;
   align-items: center;
 }
 .counter-up::before{
   position: absolute;
   content: "";
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background: var(--color-primario);
 }
 .counter-up .content{
   z-index: 1;
   position: relative;
   display: flex;
   width: 100%;
   height: 100%;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
 }
 .counter-up .content .box{
   border: 1px dashed rgba(255,255,255,0.6);
   width: calc(25% - 30px);
   border-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   flex-direction: column;
   padding: 10px;
 }
 .content .box .icon{
   font-size: 40px;
   color: #e6e6e6;
 }
 .content .box .counter{
   font-size: 40px;
   font-weight: 500;
   color: #f2f2f2;
   font-family: sans-serif;
 }
 .content .box .text{
   font-weight: 400;
   color: #ccc;
 }
 @media screen and (max-width: 1036px) {
   .counter-up{
     padding: 50px 50px 0 50px;
   }
   .counter-up .content .box{
     width: calc(50% - 30px);
     margin-bottom: 50px;
   }
 }
 @media screen and (max-width: 580px) {
   .counter-up .content .box{
     width: 100%;
   }
 }
 @media screen and (max-width: 500px) {
   .counter-up{
     padding: 30px 20px 0 20px;
   }
 }

 
 .formulario {
height: 80vh;
  width: auto;
  padding-top:50px;
  padding-left: 28%;
align-items: center;
background: var(--color-fondo);
}


 .wrapper{
  width: 70%;
  border-radius: 8px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.05);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
 }
  
.wrapper header{
  font-size: 22px;
  font-weight: 600;
  padding: 20px 30px;
  border-bottom: 1px solid #ccc;
  color: white;
}
.wrapper form{
  margin: 35px 30px;
}
.wrapper form.disabled{
  pointer-events: none;
  opacity: 0.7;
}
form .dbl-field{
  display: flex;
  margin-bottom: 25px;
  justify-content: space-between;
}
.dbl-field .field{
  height: 50px;
  display: flex;
  position: relative;
  width: calc(100% / 2 - 13px);
}
.wrapper form i{
  position: absolute;
  top: 50%;
  left: 18px;
  color: #ccc;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
}
form .field input,
form .message textarea{
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 18px 0 48px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.field input::placeholder,
.message textarea::placeholder{
  color: #ccc;
}
.field input:focus,
.message textarea:focus{
  padding-left: 47px;
  border: rgb(45, 128, 112);
}
.field input:focus ~ i,
.message textarea:focus ~ i{
  color: rgb(45, 128, 112);
}
form .message{
  position: relative;
}
form .message i{
  top: 30px;
  font-size: 20px;
}
form .message textarea{
  min-height: 130px;
  max-height: 230px;
  max-width: 100%;
  min-width: 100%;
  padding: 15px 20px 0 48px;
}
form .message textarea::-webkit-scrollbar{
  width: 0px;
}
.message textarea:focus{
  padding-top: 14px;
}
form .button-area{
  margin: 25px 0;
  display: flex;
  align-items: center;
}
.button-area button{
  color: #fff;
  border: none;
  outline: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  padding: 13px 25px;
  background: rgb(45, 128, 112);
  transition: all 0.3s ease;
}
.button-area button:hover{
  background: rgb(45, 128, 112);
}
.button-area span{
  font-size: 17px;
  margin-left: 30px;
  display: none;
}
@media (max-width: 600px){
  .wrapper header{
    text-align: center;
  }
  .wrapper form{
    margin: 35px 20px;
  }
  form .dbl-field{
    flex-direction: column;
    margin-bottom: 0px;
  }
  form .dbl-field .field{
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
  }
  form .message textarea{
    resize: none;
  }
  form .button-area{
    margin-top: 20px;
    flex-direction: column;
  }
  .button-area button{
    width: 100%;
    padding: 11px 0;
    font-size: 16px;
  }
  .button-area span{
    margin: 20px 0 0;
    text-align: center;
  }
}
 
@media screen and (max-width: 580px) {



  .formulario {
    margin: 0;
    padding: 0;
    height: 80vh;
      width: 50;
    }
}
@media screen and (max-width: 500px) {
  .wrapper{
    width: 100%;
    
   }
}




/* footer  */

footer{
 
  background:var(--color-azul);
  width: 100%;
  bottom: 0;
  left: 0;
}
footer::before{
  content: '';
  position: absolute;
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
}
footer .content{
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}
footer .content .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.content .top .logo-details{
  color: #fff;
  font-size: 30px;
}
.content .top .media-icons{
  display: flex;
}
.content .top .media-icons a{
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.top .media-icons a:nth-child(1){
  background: #4267B2;
}
.top .media-icons a:nth-child(1):hover{
  color: #4267B2;
  background: #fff;
}
.top .media-icons a:nth-child(2){
  background: #1DA1F2;
}
.top .media-icons a:nth-child(2):hover{
  color: #1DA1F2;
  background: #fff;
}
.top .media-icons a:nth-child(3){
  background: #E1306C;
}
.top .media-icons a:nth-child(3):hover{
  color: #E1306C;
  background: #fff;
}
.top .media-icons a:nth-child(4){
  background: #0077B5;
}
.top .media-icons a:nth-child(4):hover{
  color: #0077B5;
  background: #fff;
}
.top .media-icons a:nth-child(5){
  background: #FF0000;
}
.top .media-icons a:nth-child(5):hover{
  color: #FF0000;
  background: #fff;
}
footer .content .link-boxes{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .content .link-boxes .box{
  width: calc(100% / 5 - 10px);
}
.content .link-boxes .box .link_name{
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}
.link-boxes .box .link_name::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}
.content .link-boxes .box li{
  margin: 6px 0;
  list-style: none;
}
.content .link-boxes .box li a{
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
}
.content .link-boxes .box li a:hover{
  opacity: 1;
  text-decoration: underline;
}
.content .link-boxes .input-box{
  margin-right: 55px;
}
.link-boxes .input-box input{
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #AFAFB6;
  background: rgb(39, 110, 96);
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}
.link-boxes .input-box input::placeholder{
  color: #AFAFB6;
  font-size: 16px;
}
.link-boxes .input-box input[type="button"]{
  background: #fff;
  color: rgb(28, 79, 68);
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover{
  opacity: 1;
}
footer .bottom-details{
  width: 100%;
  background: rgb(20, 57, 50);
}
footer .bottom-details .bottom_text{
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover{
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a{
  margin-right: 10px;
}
@media (max-width: 900px) {
  footer .content .link-boxes{
    flex-wrap: wrap;
  }
  footer .content .link-boxes .input-box{
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 700px){
  footer{
    position: relative;
  }
  .content .top .logo-details{
    font-size: 26px;
  }
  .content .top .media-icons a{
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 3 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 60%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 12px;
  }
}
@media (max-width: 520px){
  footer::before{
    top: 145px;
  }
  footer .content .top{
    flex-direction: column;
  }
  .content .top .media-icons{
    margin-top: 16px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 2 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 100%;
  }
}